.error {
    padding: 2rem;
    border-radius: 4px;
    background-color: #fce4ec;
    color: #d81b60;
    margin: 2rem 0;
    font-weight: 200;
    font-size: 1rem;
}

.blank-enter-active {
    transition: opacity 0.5s;
}
.blank-leave-active {
    transition: opacity 1s;
    position: absolute;
}
.blank-enter, .blank-leave-to {
    opacity: 0;
    transform: translateY(-2rem)
}
.login-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.04);
    background-color: white;
}
.content-left {
    background-color: #673ab7;
    color: white;
    padding: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.content-left__text-bold {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.content-right__text-bold {
    text-align: center;
    color: #673ab7;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;
}
.content-left__text-small {
    font-size: 1.6rem;
    padding: 3rem;
}
.content-right  {
    padding: 5rem 10rem;
    border-radius: 5px;
}
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input {
    padding: 2rem 4rem;
    background-color: #eeeeee;
    border: none; 
    margin: 1rem;
    
}
.input:focus {
    outline: none;
}

::-webkit-input-placeholder { 
  font-size: 1.4rem;
  text-align: left;
}
::-moz-placeholder { 
  font-size: 1.4rem;
  text-align: left;
}
:-ms-input-placeholder { 
  font-size: 1.4rem;
  text-align: left;
}
:-moz-placeholder { 
  font-size: 1.4rem;
  text-align: left;
}
.btn-auth {
    padding: 1.8rem 8rem;
    border: none;
    border-radius: 10rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.01);
    font-size: 1.4rem;
    transition: all 0.4s;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
}
.btn-auth:hover {
    transform: scale(1.06);
}
.btn-auth:focus , .btn-auth:active{
    outline: none;
}
.btn-auth-transparent {
    background-color: transparent;
    border: 1px solid white;
}
.btn-auth-colored {
     background-color:#673ab7;
}
@media only screen and (max-width : 900px) { 
    .login-card {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .content-left__text-bold, .content-right__text-bold {
        font-size: 2rem;
    }
    .btn-auth {
        padding: 1.8rem 3rem;
    }
}